<div class="wrapper">
  <div class="cover cover-left"></div>
  <div class="cover cover-right"></div>

  <div class="book">
    <!--profile-page-->
    <div class="book-page page-left">
      <div class="profile-page">
        <img src="https://picsum.photos/200" alt="" />
        <h1>Zeynep Dagci</h1>
        <h3>Fullstack Software Engineer</h3>
        <div class="social-media">
          <a href="#"><i class='bx bxl-linkedin'></i></a>
          <a href="#"><i class='bx bxl-github'></i></a>
        </div>
        <p>
          I'm Zeynep Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam accusamus consequuntur nesciunt
          obcaecati dolores magnam aperiam iusto ex, fuga hic optio nobis nam debitis dignissimos ipsam blanditiis
          accusantium quidem doloremque.
        </p>
        <div class="btn-box">
          <a href="#" class="btn">Download CV</a>
          <a href="#" class="btn contact-me">Contact Me</a>
        </div>
      </div>
    </div>

    <!-- page 1 & 2 -->
    <div class="book-page page-right turn" id="turn-1">
      <!-- page-1 work experience -->
      <div class="page-front">
        <h1 class="title"> Work Experience</h1>
        <div class="workeduc-box">
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
        </div>
        <span class="number-page">1</span>
        <!-- next-button -->
        <span class="nextprev-btn" data-page="turn-1">
          <i class='bx bx-chevron-right'></i>
        </span>
      </div>
      <!-- page-2 education -->
      <div class="page-back">
        <h1 class="title"> Education</h1>
        <div class="workeduc-box">
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2011-2017</span>
            <h3>ITU</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
          <div class="workeduc-content">
            <span class="year"><i class='bx bxs-calendar'></i>2022-Current</span>
            <h3>Fullstack Software Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur nam nobis repudiandae
              veniam ipsam fuga, voluptatum autem dolore odit distinctio, aut neque quisquam quidem.</p>
          </div>
        </div>
        <span class="number-page">2</span>
        <!-- prev-button -->
        <span class="nextprev-btn back" data-page="turn-1">
          <i class='bx bx-chevron-left'></i>
        </span>
      </div>

    </div>

    <!-- page 3 & 4 -->
    <div class="book-page page-right turn" id="turn-2">
      <!-- page 3 my services -->
      <div class="page-front">
        <h1 class="title">My Services</h1>
        <div class="services-box">
          <div class="services-content">
            <i class="bx bx-code-alt"></i>
            <h3> Web Development </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quam.</p>
            <a href="#" class="btn">Read More</a>
          </div>

          <div class="services-content">
            <i class='bx bx-search'></i>
            <h3> SEO </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quam.</p>
            <a href="#" class="btn">Read More</a>
          </div>

          <div class="services-content">
            <i class='bx bx-analyse'></i>
            <h3> Analyze </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quam.</p>
            <a href="#" class="btn">Read More</a>
          </div>

          <div class="services-content">
            <i class='bx bxs-wallet-alt'></i>
            <h3> Blockchain </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quam.</p>
            <a href="#" class="btn">Read More</a>
          </div>
          <span class="number-page">3</span>
          <!-- next-button -->
          <span class="nextprev-btn" data-page="turn-2">
            <i class='bx bx-chevron-right'></i>
          </span>
        </div>
      </div>
      <!-- page 4 my skills -->
      <div class="page-back">
        <h1 class="title">My Skills</h1>
        <div class="skills-box">
          <div class="skills-content">
            <h3>Front End</h3>
            <div class="content">
              <span><i class='bx bxl-react'></i>React</span>
              <span><i class='bx bxl-angular'></i>Angular</span>
              <span><i class='bx bxl-typescript'></i>Typescript</span>
              <span><i class='bx bxl-javascript'></i>Javascript</span>
              <span><i class='bx bxl-css3'></i>CSS</span>
              <span><i class='bx bxl-html5'></i>HTML</span>
            </div>
          </div>

          <div class="skills-content">
            <h3>Back End</h3>
            <div class="content">
              <span>CSharp</span>
              <span>.NET/ .NET Core</span>
              <span><i class='bx bxl-python'></i>Python</span>
            </div>
          </div>
          <!--  -->
          <div class="skills-content">
            <h3>Container</h3>
            <div class="content">
              <span><i class='bx bxl-docker'></i>Docker</span>
            </div>
          </div>

          <div class="skills-content">
            <h3>Testing</h3>
            <div class="content">
              <span>Postman</span>
              <span>Playwright</span>
              <span>Unit Test</span>
              <span>E2E Test</span>
            </div>
          </div>
        </div>
        <!-- page-number -->
        <span class="number-page">4</span>
        <!-- next-button -->
        <span class="nextprev-btn back" data-page="turn-2">
          <i class='bx bx-chevron-left'></i>
        </span>

      </div>
    </div>

    <!-- page 5 & 6 -->
    <div class="book-page page-right turn" id="turn-3">
      <!-- page 5 latest projects-->
      <div class="page-front">
        <h1 class="title">Latest Projects</h1>
        <div class="portfolio-box">
          <div class="img-box">
            <img src="https://picsum.photos/200/300" alt="">
          </div>
          <div class="info-box">
            <div class="info-title">
              <h3>Project Name</h3>
              <a href="#">Live Preview<i class='bx bx-link-external'></i></a>
            </div>
            <p>Tech Used</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ex non repellendus quae, fuga repellat
              in, illo eligendi quibusdam sit eveniet soluta neque. Voluptas voluptatum facere sed vitae debitis at.
            </p>

          </div>
          <div class="btn-box">
            <a href="#" class="btn">Source Code</a>
            <a href="#" class="btn">More Project</a>

          </div>
        </div>

        <!-- page-number -->
        <span class="number-page">5</span>
        <!-- next-button -->
        <span class="nextprev-btn" data-page="turn-3">
          <i class='bx bx-chevron-right'></i>
        </span>
      </div>
      <!-- page 6 my services -->
      <div class="page-back">
        <h1 class="title">Contact Me</h1>
        <div class="contact-box">
          <form action="#">
            <input type="text" class="field" placeholder="Name" required>
            <input type="email" class="field" placeholder="Name" required>
            <textarea name="" id="" cols="30" rows="10" class="field" placeholder="Your message" required></textarea>
            <input type="submit" class="btn" value="Send Message">
          </form>
        </div>

        <!-- page-number -->
        <span class="number-page">6</span>
        <!-- next-button -->
        <span class="nextprev-btn back" data-page="turn-3">
          <i class='bx bx-chevron-left'></i>
        </span>

        <a href="#" class="back-profile">
          <p>Profile</p>
          <i class='bx bxs-user'></i>
        </a>
      </div>

    </div>
  </div>
</div>
<router-outlet />